body {
  margin: 0;
  background: #0e0e0e;
  color: white;
  font-family: "Segoe UI", sans-serif;
}

.home {
  padding: 30px 80px;
}

@font-face {
  font-family: "Priestacy";
  src: url("/assets/fonts/priestacy.regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
